<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Random Word Generator</title>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet", href="{% static 'random_Word/css/style.css' %}">
        </head>
    <body>
        <div class="container">
            <h1>Random Word Generator</h1> 
            <form action="/createWord" method="POST">
                {% csrf_token %}
                <h3>Random Word (attempt #{{ request.session.attempt }} )</h3>
                <h2 class="theWord">WORD: {{word}}</h2>
                <input type="submit" name="submit" value="Generate Word" class='button'>
            </form>
            <form action='/reset' method='POST'>
                {% csrf_token %}
                <input type='submit' name='submit' value='Reset' class='button'>
            </form>
        </div>
    </body>
</html>